<div class="container-fluid">
    <div class="col-sm-12" style="height:50px;background-color: #2B1B17;"><h1>Cake Delivery System</h1> </div>

    <div class="row jumbotron">
        <div class="col-sm-12" style="left:200px;">
             <h3 style="left:400px;">User Login</h3>
       </div>
       <div class="row">
           <div class="col-sm-12 jumbotron table table-bordered bg-dark text-danger" style="left:300px;width:700px;">
                <!--<form [formGroup] = "form">-->
                <form [formGroup] = "form" (ngSubmit) = "checkUser()">
                <div>
                    <label>User Name  :  </label>
                    <input type="text" placeholder="Enter Name" formControlName = "user_name"/>
                </div>

                <div>
                    <br/>
                    <label>User Password  :  </label>
                    <input type="password" placeholder="Enter Password" formControlName ="user_password"/>
                </div>
                  
                <div>
                    <br/>
                    &nbsp;&nbsp;&nbsp;
                    <!--<button type="submit" class="btn btn-success" [routerLink]="['/adminshow']">Login</button> -->
                    <button type="submit" class="btn btn-success">Login</button>

                    &nbsp;&nbsp;&nbsp;
                    <button type="reset" class="btn btn-danger">Clear Form</button>
                    <a href="/userRegistration">Not registred?Register Here</a>
                </div>
                </form>
            </div>

           

</div>


