h1
{
  color:white;

  text-align: center;
}
.header
{
    text-align:right;
    background-color:burlywood;
    font-size:18px;
}
.menu{
  color:green;
}
.img
{
  width:100%;
  height:400px;
}
ngb-carousel .wrapper {
  position: relative;
  height:0;
padding-top:30%; /* Keep ratio for 900x500 images */
  
}
ngb-carousel .wrapper>img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

ul li{
  list-style-type:none;
}
